:root {
  --gap: 20px;
  --background-color: #daebed73;
  --border-color: rgba(128, 128, 128, 0.342)
}

#root {
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  margin: 0 auto;
  align-items: baseline;
  justify-content: center;
}

.flex {
  display: flex;
  min-width: 90%;
}

.column {
  flex-flow: column nowrap;
  gap: calc(var(--gap)/2);
}

.align-center {
  align-items: center;
  justify-content: center;
}


.grid {
  display: grid;
}

.brand {
  grid-area: "brand";
}

.search {
  width: 600px;
  height: 100%;
  grid-area: "search";
}

.nav {
  grid-area: "nav";
}

.display {
  grid-area: "display";
}

.footer {
  grid-area: "footer";
}

.grid-template {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "brand search"
    "nav display"
    "nav display"
    "nav display"
    "footer footer"
  ;
}

.display {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-right: none;
  background-color: white;
}

.search {
  border-left: 1px solid var(--border-color);
  gap: var(--gap)/2;
}

.padding {
  padding: 10px;
}

.brand {
  border-bottom: 1px solid var(--border-color);
  min-width: 200px;
  text-align: center;
}

.left :nth-child(n) {
  align-items: center;
  justify-content: center;
}

.content {
  border: 1px solid #80808024;
  border-radius: 10px;
}

.t-line,
.t-head {
  padding: 10px;
  gap: var(--gap);
  border-bottom: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

.t-head {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 2px solid var(--border-color);
}

.t-element {
  min-width: 150px;
  justify-content: center;
}

.t-line:hover {
  cursor: pointer;
  background-color: var(--background-color);
}

.form :nth-child(n) {
  text-align: center;
}

form{
  align-items: center;
  justify-content: start;
  justify-items: start;
}

.text-input
.check-list {
  text-transform: capitalize;
  align-items: center;
}

.text-input,
.check-list :nth-child(n) {
  display: flex;
  gap: calc(var(--gap)/2);
}

.text-input {
  align-items: center;
  justify-content: center;
}

.grid-address {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-area: auto;
  gap: var(--gap);
}

.grid-form{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-area: auto;
}

.data,
.address,
.zip,
.complement{
  display: flex;
  gap: var(--gap);
  text-transform: capitalize;
}